.form{
	background-color: #EC9E9E;
	margin: 30px 80px 30px 80px;
	padding: 20px;
} 
.form>*{
	background-color: white;
	margin: 30px;
	padding: 20px;
	border: 2px solid #e34949;
}
.form div>*{
	margin: 10px;
}
.form input{
	padding: 10px;
	width: 50%;
}
.title-login{
	padding: 10px;
}
.button-inlog{
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-inlog button{
	padding: 20px;
	border-radius: 20px;
	margin: 30px;
	border: none;
	background-color: #EC9E9E;

}
.button-inlog button:hover{
	background-color: #f7d5d5;
}