.menu h1{
	padding: 10px;

}

.menu-title{
	display: flex;
}
.menu-span span{
	padding: 10px;
	background-color:  #F3D9D9;
	margin: 10px;
	border-radius: 30px;
}
.menu-span{
	margin-top: 20px;
}
.menu-span span:hover{
	background-color: #EC9E9E;
}

.shop-icon{
	position: absolute;
	top: 135px;
font-size: 20px;
	left: 30px;
	background-color: #F3D9D9;
	padding: 10px;
	border-radius: 100%;
}
@media screen and (max-width: 700px){
	.shop-icon{
		left: 5px;

	}
}
@media screen and (max-width: 550px){
	.shop-icon{
		left: 5px;
		top: 180px;
		border: 2px solid red;

	}
}
@media screen and (max-width: 400px){
	.menu-title{
		display: flex;
		flex-direction: column;
	}
	.shop-icon{
		left: 5px;
		top: 130px;
		border: none;

	}
}